<div class="contaner mt-4">
    <div class="row ">
        <div class="col-md-2 col-sm-0 col-xs-0"></div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h3 class="card-title text-center">Bienvenu sur XML-VALIDATOR</h3>
                    <hr>
                    <h5 class="card-subtitle mb-2 text-muted">Comment ça marche ?</h5>
                    <p class="card-text ">
                        Vous pouvez valider vos fichers xml de plusieurs façons.
                    </p>
                    <h5 class='mb-3 mt-1'>1-Dtd validation :</h5>
                    <h6 class="card-subtitle text-muted ml-3">1.1 -La validation de dtd interne .</h6>
                    <p class="card-text ml-5">
                        Dans ce cas, vous devez écire le contenu de votre document dans le champs qui vous ait fourni pour le valider.
                    </p>
                    <h6 class="card-subtitle text-muted ml-3">1.2 -La validation d'un document xml avec un dtd externe.</h6>
                    <p class="card-text ml-5">
                        Dans ce cas, vous devez selectionner le fichier xml et dtd externe pour valider.
                    </p>
                    <h5 class='mb-3 mt-1'>2-XmlShémas validation :</h5>
                    <h6 class="card-subtitle text-muted ml-3">2.1 -La validation d'un document xml avec un schéma.</h6>
                    <p class="card-text mb-3 ml-5">
                        Dans ce cas, vous devez selectionner le fichier xml et le schéma pour valider.
                    </p>
                    <a routerLink="/dtd" class="card-link btn btn-sm btn-primary">Je valide mes documents</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-0 col-xs-0"></div>
    </div>
</div>