<div class="contaner mt-4">
    <div class="row ">
        <div class="col-md-2 col-sm-0 col-xs-0"></div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h3 class="card-title text-center">La validation avec XmlSchémas.</h3>
                    <hr>
                    <h5 class="card-subtitle mb-2 text-muted">Comment ça marche ?</h5>
                    <p class="card-text ml-5">
                        Vous devez choisir votre fichier xml et le schéma pour valider.
                    </p>
                    <hr *ngIf="isSubmited">
                    <h5 *ngIf="isSubmited" class="card-subtitle mb-2 text-muted">Resultat :</h5>
                    <p *ngIf="isSubmited && isValid" style="color:green" class="card-text ml-5">
                        Votre document est valide.
                    </p>
                    <h6 *ngIf="isSubmited && !isValid" style="color:red" class="ml-5">Documents non valides.</h6>
                    <p *ngIf="isSubmited && !isValid" style="color:red" class="card-text ml-5">
                        {{ errorMessage}}
                    </p>
                    <hr>
                    <p class="mt-4 mb-5"></p>
                    <button (click)="openModal(templateFile)" class="btn btn-dark btn-sm mb-4">Valider des fichiers ?</button><br>
                    <button (click)="openModalWrite(templateWrite)" class="mb-2 btn-sm btn btn-dark">Ecrire le contenu    ?</button>
                    <p class="mt-2 mb-2"></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-0 col-xs-0"></div>
    </div>
</div>

<ng-template #templateFile>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Validation XmlSchémas</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefFile?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="f1">Le fichier xsd <i *ngIf="choosendXsd()" style="font-size:18px;color:green;" class="ml-2 far fa-check-circle"></i></label>
                <input type="file" accept=".xsd" (change)="xsdFileLoad($event)" class="form-control-file" id="f1">
            </div>
            <div class="form-group">
                <label for="f2">Le fichier xml <i *ngIf="choosendXml()" style="font-size:18px;color:green;" class="ml-2 far fa-check-circle"></i></label>
                <input type="file" accept=".xml" (change)="xmlFileLoad($event)" class="form-control-file" id="f2">
            </div>
            <button (click)="onSubmit()" [disabled]="!externalFormIsValid()" class="btn btn-sm btn-primary mr-2">Valider !</button>
        </form>
    </div>
</ng-template>

<ng-template #templateXsd>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Contenu xsd</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefXsd?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea [(ngModel)]="xsd" class="form-control" id="id" rows="10" placeholder="Ecrire votre contenu ici ..."></textarea>
        </div>
        <button (click)="onXsdSubmit()" [disabled]="!xsdValid()" type="submit" class="btn-sm btn btn-primary mr-2"><i *ngIf="xsdValid()" style="font-size:20px;color:white;" class="mr-2 far fa-check-circle"></i>Ajouter !</button>
    </div>
</ng-template>

<ng-template #templateXml>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Contenu xml </h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefXml?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea [(ngModel)]="xml" class="form-control" id="id" rows="10" placeholder="Ecrire votre contenu ici ..."></textarea>
        </div>
        <button (click)="onXmlSubmit()" [disabled]="!xmlValid()" type="submit" class="btn-sm btn btn-primary mr-2"><i *ngIf="xmlValid()" style="font-size:20px;color:white;" class="mr-2 far fa-check-circle"></i>Ajouter !</button>
    </div>
</ng-template>


<ng-template #templateWrite>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ecrire mon document</h4>
        <button type="button" class="btn-sm btn-close close pull-right" aria-label="Close" (click)="modalRefWrite?.hide()">
  <span aria-hidden="true" class="visually-hidden">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button (click)="openModalXsd(templateXsd)" class="btn btn-dark btn-sm">Ecrire le xsd <i *ngIf="xsdValid()" style="font-size:20px;color:green;" class="ml-3 far fa-check-circle"></i></button><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button (click)="openModalXml(templateXml)" class="btn btn-dark btn-sm mt-5">Ecrire le xml <i *ngIf="xmlValid()" style="font-size:20px;color:green;" class="ml-3 far fa-check-circle"></i></button><br>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button (click)="onSubmitWrite()" [disabled]="!valid()" class="btn btn-primary btn-sm mt-3">Valider !</button>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 ">
                    <button class="btn btn-danger btn-sm mt-3" (click)="renitialiser($event)">Renitialiser ?</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>